<div class=""><input type="button" onclick="location.href='/incomes/new'" value="収入" class="btn btn-success"></div><div class=""><input type="button" onclick="location.href='/expends/new'" value="支出" class="btn btn-danger"></div>
<br>
<div class=""><input type="button" onclick="location.href='savings/new'" value="口座/残高" class="btn btn-info"></div><div class=""><input type="button" onclick="location.href='analyses'" value="分析" class="btn btn-warning"></div>