<h1>シンプル家計簿<%= image_tag 'money_kakeibo_ase.png',:size => '100x100' %></h1><br>ver1.0.0<br>

<div><input type="button" onclick="location.href='/incomes/new'" value="収入" class="btn btn-success"></div><div><input type="button" onclick="location.href='/expends/new'" value="支出" class="btn btn-danger"></div>
<br>
<div><input type="button" onclick="location.href='savings/new'" value="口座/残高" class="btn btn-info"></div><div><input type="button" onclick="location.href='analyses'" value="分析" class="btn btn-warning"></div>
<br>
