

       <li>
        <%= link_to("収入", "/incomes") %>
      </li><br>
        <li>
        <%= link_to("支出", "/expends/new") %>
      </li><br>
        <li>
        <%= link_to("口座/残高", "/savings") %>
      </li><br>
        <li>
        <%= link_to("分析", "/analyses") %>
      </li><br>