// Place all the styles related to the analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
    display:inline-block;
}

.analyse-title{
    background-color:rgb(250, 180, 70);
    width:100%;
    text-align:left;
}