@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

body{
  margin: 0;
}

h1{
  text-align:left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 20px auto;
}


  table {
    border-collapse: collapse; 
    width:100%;
    margin:auto;
  }
  
  input, textarea {
    box-sizing: border-box;
    width: 300px;
    padding: 6px;
  }
  
  input[type="checkbox"] {
    width: 15px;
  }

  input[type="submit"] {
    background-color: rgb(199, 211, 216);
    border-radius: 5px;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100px;
  }

 ul {
    margin: 0px;
  }
  
  li {
    list-style: none;
    float: left;
    padding-right: 10px;
  }
  
  header {
    padding: 15px;
    background-color: #57ff8f;
    color: black;
    height: 65px;
    margin-top: 0;
  }
  
  header a {
    color: black;
  }
  
  .header-logo {
    float: left;
    padding-right: 20px;
    margin: 0;
    display:inline;
  }

  .header-logo a {
    text-decoration: none;
  }

  .log-out{
    text-align:right;
  }

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #57ff8f;
    color: lightgrey;
    a {
      color: gray;
      &:hover {
        color:lightslategrey;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }