@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

body{
  margin: 0;
  background-color: #e8ffcd;
  
}

h1{
  padding:0;
  width:100%;
}

h2{
  background-color: lightgray;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 20px auto;
}


  table {
    border-collapse: collapse; 
    width:100%;
    margin:auto;
  }
  
  input, textarea {
    box-sizing: border-box;
    width: 300px;
    padding: 6px;
  }
  
  input[type="checkbox"] {
    width: 15px;
    text-align:left;
  }

  input[type="submit"] {
    background-color: rgb(199, 211, 216);
    border-radius: 5px;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100px;
  }

 ul {
    margin: 0px;
  }
  
  li {
    list-style: none;
    float: left;
    padding-right: 8px;
  }
  
  header {
    padding: 15px;
    background-color: #57ff8f;
    color: black;
    height: 65px;
    width:100%;
    margin-top: 0;
  }
  .logout{
    float: right;
    text-align: right;
  }

  
  header a {
    color:black;

  }
  
  .header-logo {
    float: left;
    padding-right: 15px;
    margin: 0;
    display:inline;
  }

  .header-logo a {
    text-decoration: none;
  }

  .hov-income{
    :hover{
      color:rgb(57, 176, 57);
    }
  }

  .hov-expend{
    :hover{
      color:rgb(250, 85, 85);
    }
  }

  .hov-saving{
    :hover{
      color:rgb(26, 144, 174);
    }
  }

  .hov-analyse{
    :hover{
      color:rgb(250, 180, 70);
    }
  }


footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #57ff8f;
    color: lightgrey;
    a {
      color: gray;
      &:hover {
        color:lightslategrey;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }

  .field{
text-align:left
  }

  .actions{
    text-align:left

  }