// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input{
    margin:auto;
}
div{
    display:inline-block;
}
body{
    text-align:center;
}

input[type="button"] {
    width: 350px;
    padding:40px;
    margin:10px;
    height:150px;
  }
