// Place all the styles related to the incomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.income-title{
    text-align:left;
    background-color:rgb(70, 210, 70);
    width:100%;
}

